/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
/* select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* header, main, footer */
header, main, footer {
    min-width: 100%;
}
header, footer {
    background-color: rgb(43, 43, 43);
}
/* header */
 header {
    display: inline-flex;
    justify-content: space-between;
    color: white;
    height: 4em;
    align-items: center;
    padding: 0 20px;
}
.logo {
    border-radius: 50%;
    height: 80%;
}
/* Place the menu to the right of the page. */
.menu {
    /* margin: auto 0; */
    align-items: flex-end;
    margin: 5px 10;
}
.menu-list {
    display: inline-flex;
    list-style: none;
}
.menu-list li {
    padding:0 5px;
    margin: 0% 10px; 
}
.menu-list li a {
    text-decoration: none;
    color: white;
}
body {
    background-image: url("https://i.postimg.cc/VkKg9qX2/alex-knight-c4-Fvlp63y-AQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu-list li a:hover {
    color: rgb(230, 104, 59);
}
.info {
    margin-left: 7%;
    margin-top: 6%;
}
/* main */
/* heading */
h1, h2, h3, h5, h6 {
    text-align: center;
    margin-bottom: 15px;
}
/* home */
#home {
    background-color: none;
    height: calc(100vh - 4em);
    width: 100%;
    border: 3px solid black;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home img {
    height: 80%;
    width: 50%;
}

.wrapper {
    min-height: 100vh;
    align-content: center;
}
.wrapper img{
    display: block;
    margin: 15px auto;
    width: 500px;
    height: 500px;
}
.wrapper p {
    text-align: center;
}
#resume p {
    border-style: solid;
    border-width: 5px;
}