@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
/* Universal Styling */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(https://i.postimg.cc/VvLx8jbG/image-1.jpg) no-repeat center center;
    font-family: 'Kanit', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: black;
    opacity: 25;
    text-align: center;
    width: 100vw;
}
#projects {
    min-height: 50vw;
}
.carousal-inner img {
    margin: auto;
    height: 60vh;
}
#opening { 
    /* width: 100%;
    height: 100%; */
    position: relative;
    animation: example 8s infinite;
    animation-direction: alternate;
}
#heading {
    /* width: 100%;
    height: 100%; */
    position: relative;
    animation: example 8s infinite;
    animation-direction: alternate;
}


@keyframes example {
   from {left:0% ;}
   to {left: 5%;}
}

/* header */
.logo {
    width: 5rem;
}
section {
    min-height: 85vh;
    scroll-margin-top: 15;
}
#home {
    scroll-margin-block-start: 100px;
}
#skills {
    scroll-margin-block-start: 100px;    
}
#resumes {
    scroll-margin-block-start: 100px;
}
.resume-link {
    max-width: 40.75rem;
    margin: auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px white;
}
.pic {
    height: 303px !important;
}
.image {
    height: 432px !important;
    object-fit: contain;
    /* width: 650px !important;
    object-fit: contain;
    object-position: center; */
}
/* Work/Education */

/* Testimonials */

@media screen and (width <= 720px){
    #testimonial .flip-card, .col-3{
        width: 100%;
    }
}
